body{
    margin: 0%;
    padding: 0%;
}
.background{
    object-fit: cover;
    width: 100vw;
    height: 115vh;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay{
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.overlay-gradient{
    background: linear-gradient(to right,#7083FF4d, #FF68C34d);
}

.overlay-darken{
    background: #000000b3;
}

.fixed{
    position: fixed;
}

.titulo{
    width: 100%;
    margin: 50px 50px;
    font-size: 35px;
    white-space: nowrap;
}

a{
    font-family: 'Segoe UI',Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight:500;

}

.header{
gap: 37%;
}

.menu{
    font-size: 25px;
    gap: 40px;
    margin: 60px 50px;
    white-space: nowrap;
}

.stackPanel{
    display: flex;
}

.horizontal{
    flex-direction: row;
}

.vertical{
    flex-direction: column;
}