body{
    margin: 0%;
    padding: 0%;
}
.background{
    object-fit: cover;
    width: 100vw;
    height: 115vh;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay{
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.overlay-gradient{
    background: linear-gradient(to right,#7083FF4d, #FF68C34d);
}

.overlay-darken{
    background: #000000b3;
}

.fixed{
    position: fixed;
}

a{
    font-family: 'Segoe UI',Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;


}

.grid{
    display: grid;
    grid-template-areas: "titulo menu social-media";
    grid-template-columns: 1fr 1fr 1fr;
}

.titulo{
    grid-area: titulo;
    width: 100%;
    margin: 50px 50px;
    font-size: 2.188rem;
    white-space: nowrap;
    font-weight:500;
}

.menu{
    grid-area: menu;
    font-size: 1.563rem;
    gap: 40px;
    margin: 60px 50px;
    white-space: nowrap;
    font-weight: lighter;
}

.social-media{
    grid-area: social-media;
}

.stackPanel{
    display: flex;
}

.horizontal{
    flex-direction: row;
}

.vertical{
    flex-direction: column;
}

